
//colors here:
// indicated by the prefix 'c-'
$c-blue:#0F82DE;
$c-green:#16C78D;
$c-lightBlue:#EFF6FD;
$c-pop:#00D87E;
$c-yellow:#FFFDBB;
$c-we:#444E6B;

$c-primary:$c-we;
$c-prim-light:lighten($c-primary,51%);
$c-secondary:$c-green;
$c-sec-hover:adjust-hue($c-secondary,70%);
