
//colors here:
// indicated by the prefix 'c-'
$c-black:#2b2b2b;
$c-white:#f4f4f4;
$c-gradient:linear-gradient(to right, #ee9bff 0%,#7db9e8 100%);;
$c-type:$c-white;
// $c-sec-hover:adjust-hue($c-secondary,70%);
