*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
::selection{
  background:$c-yellow;
}
body{
  color:$c-blueGray;
  font-family:$f-Freight;
  font-weight:400;
}
hr{
  border-top:1px solid $c-light;
}
h1{
  font-family:$f-Freight;
  font-size:3rem;
  margin:0;
  font-weight:700;
  letter-spacing:.1rem;
}
h2, h3, h4, h5{
  font-family:$f-Freight;
  margin-top:0;
}
h5 {
  letter-spacing: .125rem;
  font-size: 1.25rem;
}
p{
  font-size:1.5rem;
  line-height: 2.1rem;
  margin-bottom:0;
}
a{
  color:$c-blue;
  text-decoration:none;
  transition:.2s all;
  &:hover{
    color:darken($c-blue,10%);
  }
}
.hidden{
  display:none;
}
button {
  -webkit-appearance: none;
  border: none;
  padding: 3% 5%;
  font-size: 1.25rem;
  background: none;
  border: 2px solid $c-blue;
  color: $c-blue;
  transition: .2s all;
  cursor:pointer;
  &:hover {
    background: $c-blue;
    color: white;
  }
  &:focus{
    outline:none;
  }
}
