*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
::selection{
  background:$c-yellow;
}
body{
  color:$c-blue;
  font-family:$f-Freight;
  font-weight:400;
}
h1,h2, h3, h4, h5{
  font-family:$f-Freight;
  margin-top:0;
}
h3{
  font-family: "atrament-web", sans-serif;
  font-size: 4.75rem;
  font-weight:100;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: .12rem;
}
h4{
  font-family: "atrament-web", sans-serif;
  font-size: 2.75rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: .12rem;
  margin-bottom:4%;
}
h5 {
  letter-spacing: .15rem;
  font-size: 1.1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
p{
  margin-top:0;
  line-height:1.85rem;
  font-family:$f-Freight;
  font-size:1.25rem;
  font-weight:500;
  line-height:2rem;
}
a{
  color:$c-pop;
  text-decoration:none;
  transition:.2s all;
  &:hover{
    color:darken($c-blue,10%);
  }
}
.hidden{
  display:none;
}
hr{
  border: 0;
  height: 3px;
  background: $c-blue;
  width: 10%;
  margin-left: -18px;
  padding: 0;
}
button {
  -webkit-appearance: none;
  border: none;
  padding: 5% 7%;
  font-size: 1.25rem;
  font-family:$f-Freight;
  font-weight: 500;
  letter-spacing: .05rem;;
  background: $c-pop;
  color: #fff;
  transition: .2s all;
  cursor:pointer;
  &:hover {
    background: darken($c-pop,20%);
    color: white;
  }
  &:focus{
    outline:none;
  }
}
