*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  color:$c-dark;
}
h1{
  font-family:$f-Bee;
  text-transform:uppercase;
  font-size:35em;
  margin:0;
  line-height:.75;
  transform: rotate(-90deg);
  position: absolute;
  z-index: -1000;
  color: #e4f8e0;
  top: 0px;
  left: 0px;
}
h5{
  margin:0;
  padding:0;
}
h2,h3,h4,h5,p{
  font-family:$f-sourceCode;
  font-weight:400;
}
