* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  color: $c-type;
  font-family: $f-primary;
}
h1,h2, h3, h4, h5, p {
  font-family: $f-primary;
  font-weight:normal;
  margin-top: 0;
  color: $c-black;
}
h1 {
  font-size: 4rem;
  line-height: 5.25rem;
}
h2 {
  font-size: 3.25rem;
  line-height: 4rem;
}
h3 {
  font-size: 2.75rem;
  line-height: 3.5rem;
}
h4 {
  font-size: 2.25rem;
  line-height: 3rem;
}
h5 {
  font-size: 1.75rem;
  line-height: 2.5rem;
}
h6 {
  font-size: 1.25rem;
  line-height: 2rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}
a {
  font-weight:normal;
  color: lighten($c-black, 30%);
  transition: all 0.15s ease;
  position: relative;
  text-decoration: none;
  &:after{
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height:2px;
    background: linear-gradient(to right, #ee9bff 0%,#7db9e8 100%);
    content: "";
    transition: all 0.25s ease;
  }
  &:hover {
    color: $c-black;
    &:after {
      height: 2px;
      transform: translateX(30%);
      width: 70%;
    }
  }
}
hr {
  border: 0;
  height: 2px;
  background: darken($c-white, 10%);
  width: 10%;
  transform: translateX(-10px);
  padding: 0;
}
//
// Functional Classes
// 
.hidden {
  display:none;
}
.hideme {
  opacity:0;
}
.upper {
  text-transform:uppercase;
}
.letter-spacing {
  letter-spacing:.125rem;
}
.top{
  margin-top:10%;
}
