.hero{
  padding: 10%;
}
.pop {
  height: 4px;
  width: 15%;
  background-color: $c-pop;
  margin-left:-20px;
  margin-bottom: 8%;
  margin-top: 8%;
}
.left-wrap{
  position:fixed;
}
.right-wrap{
  position:relative;
}

.social li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}
