.hero{
  padding:0;
}
.pop-wrap{
  margin-left:-20px;
}
.pop {
  height: 7px;
  width: 7px;
  background-color: $c-blue;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius:20px;
  display:inline-block;
  margin-right:5px;
}

.left{
  // background: $c-blue;
  // padding: 10% 5%;
  margin: 0;
  color: $c-light;
}
.left-inner{
  position:fixed;
  background: $c-blue;
  padding: 10% 3%;
  height:100vh;
  background-image:url('../img/pattern.png');
}
.right-wrap{
  position:relative;
  padding:5%;
}
.social {
  font-size:1.5rem;
  margin:20% 0;
  a{
    padding:5px 10px;
    margin-right: 3px;
    color:#fff;
    border-radius:2px;
    background: rgba($c-blueGray,.5);
    &:hover{
      background: $c-blueGray;
      color:#fff;
    }
    &:focus{
      outline:none;
    }
  }
  li {
    list-style: none;
    display: inline;
  }
}
