.hero{
  padding:0;
}
.pop {
  height: 4px;
  width: 15%;
  background-color: $c-pop;
  margin-left:-20px;
  margin-bottom: 8%;
  margin-top: 8%;
}
.left{
  background: #f1f1f1;
  padding: 10%;
  margin: 0;
  color: #5D5D5D;
}
.left-inner{
  position:fixed;
}
.right-wrap{
  position:relative;
  padding:10% 5%;
}
.social {
  font-size:1.5rem;
  a{
    padding:5px 10px;
    margin-right: 3px;
    color:$c-slate;
    border-radius:2px;
    &:hover{
      background: rgba(0, 0, 0, 0.075);
      color: $c-slate;
    }
  }
  li {
    list-style: none;
    display: inline;
  }
}
