.hero{
  padding:0;
}
.pop-wrap{
  margin-left:-20px;
}
.pop {
  height: 7px;
  width: 7px;
  background-color: $c-secondary;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius:20px;
  display:inline-block;
  margin-right:5px;
}
.left{
  // background: $c-blue;
  // padding: 10% 5%;
  margin: 0;
  color: $c-primary;
}
.left-inner{
  position:fixed;
  background: $c-prim-light;
  padding: 3% 4%;
  height:100vh;
  // background-image:url('../img/pattern.png');
  width:inherit;
  p{
    font-family:$f-Jubilat;
    font-style:italic;
  }
}
.social {
  font-size:1.5rem;
  margin:10% 0;
  a{
    padding:3px 8px;
    margin-right: 5px;
    color:$c-primary;
    border-radius:2px;
    border: 2px solid $c-primary;
    &:hover{
      background: $c-primary;
      color:$c-prim-light;
    }
    &:focus{
      outline:none;
    }
  }
  li {
    list-style: none;
    display: inline;
  }
}
