.right-wrap{
  position:relative;
  padding:4% 7%;
}
.section-1{
  margin-bottom:4%;
  padding-bottom:3%;
  border-bottom:3px solid;
}
.section-2{
  padding:0;
}
.callout{
  h1{
    font-size:5.5rem;
    font-weight:800;
    line-height:1.15em;
    margin-bottom:7%;
    margin-top:3%;
    letter-spacing:.1rem;
  }
}
.exp-item {
  padding: 0;
  margin: 0;
  p{
    align-content:center;
    font-size:1.2rem;
    font-family:$f-Jubilat;
    margin:0;
  }
}
.exp-wrap {
  margin: 5% 0;
  padding:4% 3%;
  border:3px solid $c-lightBlue;
  align-items:center;
  justify-content:space-around;
}
.exp-btn {
  text-align: right;
}
.portfolio-item-wrap {
  position:relative;
  margin:7% 0;
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom:0;
    span {
      font-size: 6rem;
      font-weight: 600;
      color: $c-lightBlue;
      vertical-align: top;
      position: absolute;
      z-index: -1000;
      top: 8px;
      left: -40px;
      }
    }
  }

.portfolio-item-inner {
  transition: .2s all;
  border: 3px solid $c-lightBlue;
  padding: 3% 5% 5% 5%;
  border-radius: 2px;
  &:hover {
    transform: translateY(-1em);
  }
}
.port-desc {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  padding: 5%;
  opacity:0;
}
.port-img-wrap {
  width: 100%;
  margin-bottom: 5%;
  img{
    width:100%;
  }
}
