.section-1{
  margin-bottom:7%;
}
.callout{
  h3{
    font-size:4.25rem;
    font-weight:800;
    line-height:1.15em;
    margin-bottom:7%;
  }
  span {
   font-size: 1.25rem;
   font-weight: 500;
   color:#A9A8B5;
  }
}
.exp-item {
  padding: 0;
  margin: 0;
  p{
    align-content:center;
    font-size:1.2rem;
  }
}

.exp-wrap {
  margin: 5% 0;
  padding:3%;
  border-top: 1px solid $c-light;
  border-bottom: 1px solid $c-light;
  border-right: 1px solid $c-light;
  box-shadow: inset 5px 0px 0px $c-light;
  align-items:center;
}

.exp-btn {
  text-align: right;
}

.portfolio-item-wrap a h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom:0;
  span {
    font-size: 4rem;
    font-weight: 600;
    color: #F1F1F1;
    vertical-align: top;
  }
}

.portfolio-item-wrap {
  margin: 20px 0;
  transition: .2s all;
  border-left: 3px solid #F1F1F1;
  border: 1px solid #f1f1f1;
  padding: 3% 5% 5% 5%;
  border-radius: 2px;
  p{
    font-size:1.2rem;
    color:lighten($c-blueGray,30%);
  }
}
.portfolio-item-wrap:hover {
  transform: translateY(-1em);
}
.port-img-wrap {
  width: 100%;
  margin-bottom: 5%;
  margin-left:-20px;
  img{
    width:100%;
  }
  .port-img-caption {
    background: $c-light;
    padding: 5px 10px;
    color: darken($c-light, 25%);
    width:80%;
    margin:0 auto;
  }
}
