.section-1{
  margin-bottom:7%;
  border-top: 5px solid;
  padding: 1% 0;

}
.callout{
  h3{
    font-size:5.5rem;
    font-weight:800;
    line-height:1.15em;
    margin-bottom:7%;
  }
  span {
   font-size: 1.25rem;
   font-weight: 500;
   color:$c-blueGray;
  }
}
.exp-item {
  padding: 0;
  margin: 0;
  p{
    align-content:center;
    font-size:1.2rem;
    color:$c-blueGray;
  }
}

.exp-wrap {
  margin: 5% 0;
  padding:3%;
  border:2px solid $c-light;
  align-items:center;
  justify-content:space-around;
}

.exp-btn {
  text-align: right;
}
.portfolio-item-wrap:hover .port-desc {
    opacity: 1;
}
.portfolio-item-inner a h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom:0;
  span {
    font-size: 4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.05);
    vertical-align: top;
  }
}

.portfolio-item-inner {
  transition: .2s all;
  border: 2px solid $c-light;
  padding: 3% 5% 5% 5%;
  border-radius: 2px;
  &:hover {
    transform: translateY(-1em);
  }
  p{
    font-size:1.2rem;
    color:$c-blueGray;
  }
}
.port-desc {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  padding: 5%;
  opacity:0;
}
.port-img-wrap {
  width: 100%;
  margin-bottom: 5%;
  img{
    width:100%;
  }
  .port-img-caption {
    background: $c-light;
    padding: 5px 10px;
    color: darken($c-light, 25%);
    width:80%;
    margin:0 auto;
  }
}
