.portfolio-item-wrap a h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom:0;
  span {
    font-size: 4rem;
    font-weight: 600;
    color: #F1F1F1;
    vertical-align: top;
  }
}

.portfolio-item-wrap {
  margin: 20px 0;
  transition: .2s all;
}
.portfolio-item-wrap:hover {
  transform: translateY(-1em);
}
.image {
  width: 110%;
  margin-bottom: 10%;
  margin-left:-20px;
  img{
    width:100%;
  }
  .caption {
    background: $c-light;
    padding: 5px 10px;
    color: lighten($c-slate, 20%);
    width:80%;
    margin:0 auto;
  }
}
