// device size xs
@media screen and (max-width: 40em) {
  h1{
    font-size:4rem;
  }
  .left{
    width:100%;
  }
  .left-inner{
    position:relative;
    margin-bottom:10%;
  }
  .social-inner {
      position: relative;
  }
  .social{
    margin:8% 0;
  }
  .callout{
    font-size:3.25rem;
    font-weight:700;
    line-height:1.15em;
  }
  .image{
    width:100%;
    margin-left:0;
  }
}
// device size sm
@media only screen and (max-width:47.875em) {
  .left{
    width:100%;
  }
  .left-inner{
    position:relative;
  }
}
// device size md
@media only screen and (max-width:54.9375em) {
  .left{
    width:100%;
  }
  .left-inner{
    position:relative;
  }
  .social{
    margin:8% 0;
  }
}
