// device size xs
@media screen and (max-width: 40em) {
  h1{
    font-size:4rem;
  }
  .hero{
    padding:4%;
  }
  .left-wrap{
    position:relative;
    margin-bottom:10%;
  }
  img{
    width:100%;
    margin-left:0;
  }
}
// device size sm
@media only screen and (max-width:47.875em) {
  .left-wrap{
    position:relative;
  }
}
// device size md
@media only screen and (max-width:54.9375em) {
  .left-wrap{
    position:relative;
  }
}
