// device size md
@media only screen and (max-width:1210px) {
  h3{
    font-size:3.75rem;
    line-height:4rem;
  }

}
// device size md
@media only screen and (max-width:54.9375em) {
  h1{
    font-size:4rem;
  }
  .left{
    width:100% !important;
  }
  .left-inner{
    position:relative;
    height:auto;
    padding:5%;
  }
  .social{
    margin:8% 0;
  }
  .section-1{
    padding-top: 5%;
  }
  button{
    width:100%;
    margin:5% 0;
    padding:7%;
  }
}

// device size sm
@media only screen and (max-width:47.875em) {
  .left{
    width:100%;
  }
  .left-inner{
    position:relative;
  }
}

// device size xs
@media screen and (max-width: 40em) {
  h1{
    font-size:4rem;
  }
  .left{
    width:100%;
  }
  .left-inner{
    position:relative;
    h3{
      font-size:4.25rem;
      line-height:5rem;
      margin:0;
    }
  }
  h4{
    margin-bottom:10%;
  }
  .social-inner {
      position: relative;
  }
  .social{
    margin:8% 0;
  }
  .section-1, .section-2{
    padding-bottom:10%;
  }
  .callout{
    h1{
      font-size:3rem;
    }
    span{
      font-size:1rem;
    }
  }
  .exp-wrap{
    box-shadow:none;
    text-align:center;
  }
  .port-img-wrap{
    margin-left:0;
  }
  .image{
    width:100%;
    margin-left:0;
  }
  .port-list{
    column-count:1;
    li{
      margin-bottom:5%;
    }
  }
}
