//fonts here:
// indicated by the prefix 'f-'
$f-Freight:"freight-sans-pro",sans-serif;;
//colors here:
// indicated by the prefix 'c-'

$c-slate:#495C71;
$c-blue:#0F82DE;
$c-pop:#65D45F;

@import "_hero.scss";
@import "_core.scss";
@import "_queries.scss";
