.hero {
  padding: 0; }

.pop-wrap {
  margin-left: -20px; }

.pop {
  height: 7px;
  width: 7px;
  background-color: #16C78D;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 20px;
  display: inline-block;
  margin-right: 5px; }

.left {
  margin: 0;
  color: #0F82DE; }

.left-inner {
  position: fixed;
  background: #f3f9fe;
  padding: 3% 4%;
  height: 100vh;
  width: inherit; }
  .left-inner p {
    font-family: "jubilat", sans-serif;
    font-style: italic; }

.social {
  font-size: 1.5rem;
  margin: 10% 0; }
  .social a {
    padding: 3px 8px;
    margin-right: 5px;
    color: #0F82DE;
    border-radius: 2px;
    border: 2px solid #0F82DE; }
    .social a:hover {
      background: #0F82DE;
      color: #f3f9fe; }
    .social a:focus {
      outline: none; }
  .social li {
    list-style: none;
    display: inline; }

.right-wrap {
  position: relative;
  padding: 4% 7%; }

.section-1 {
  margin-bottom: 4%;
  padding-bottom: 3%;
  border-bottom: 3px solid; }

.section-2 {
  padding: 0;
  margin-bottom: 4%;
  padding-bottom: 3%;
  border-bottom: 3px solid; }

.callout h1 {
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1.15em;
  margin-bottom: 7%;
  margin-top: 3%;
  letter-spacing: .1rem; }

.exp-item {
  padding: 0;
  margin: 0; }
  .exp-item p {
    align-content: center;
    font-size: 1.2rem;
    font-family: "jubilat", sans-serif;
    margin: 0; }

.exp-wrap {
  margin: 5% 0;
  padding: 4% 3%;
  border: 3px solid #f3f9fe;
  align-items: center;
  justify-content: space-around; }

.exp-btn {
  text-align: right; }

.portfolio-item-wrap {
  position: relative;
  margin: 7% 0; }
  .portfolio-item-wrap h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0; }
    .portfolio-item-wrap h2 span {
      font-size: 6rem;
      font-weight: 600;
      color: #f3f9fe;
      vertical-align: top;
      position: absolute;
      z-index: -1000;
      top: 8px;
      left: -40px; }

.portfolio-item-inner {
  transition: .2s all;
  border: 3px solid #f3f9fe;
  padding: 3% 5% 5% 5%;
  border-radius: 2px; }
  .portfolio-item-inner:hover {
    transform: translateY(-1em); }

.port-desc {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  padding: 5%;
  opacity: 0; }

.port-img-wrap {
  width: 100%;
  margin-bottom: 5%; }
  .port-img-wrap img {
    width: 100%; }

.port-list {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px; }
  .port-list li {
    list-style: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::selection {
  background: #FFFDBB; }

body {
  color: #0F82DE;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-family: "freight-sans-pro", sans-serif;
  margin-top: 0; }

h3 {
  font-family: "atrament-web", sans-serif;
  font-size: 4.75rem;
  font-weight: 100;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: .12rem; }

h4 {
  font-family: "atrament-web", sans-serif;
  font-size: 2.75rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: .12rem;
  margin-bottom: 4%; }

h5 {
  letter-spacing: .15rem;
  font-size: 1.1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600; }

p {
  margin-top: 0;
  line-height: 1.85rem;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem; }

a {
  color: #16C78D;
  text-decoration: none;
  transition: .2s all; }
  a:hover {
    color: #166ec7; }

.hidden {
  display: none; }

hr {
  border: 0;
  height: 3px;
  background: #0F82DE;
  width: 10%;
  margin-left: -18px;
  padding: 0; }

button {
  -webkit-appearance: none;
  border: none;
  padding: 5% 7%;
  font-size: 1.25rem;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  letter-spacing: .05rem;
  background: #16C78D;
  color: #fff;
  transition: .2s all;
  cursor: pointer; }
  button:hover {
    background: #166ec7;
    color: white; }
  button:focus {
    outline: none; }

@media only screen and (max-width: 54.9375em) {
  h1 {
    font-size: 4rem; }
  .left {
    width: 100% !important; }
  .left-inner {
    position: relative;
    height: auto;
    padding: 5%; }
  .social {
    margin: 8% 0; }
  .section-1 {
    padding-top: 5%; }
  button {
    width: 100%;
    margin: 5% 0;
    padding: 7%; } }

@media only screen and (max-width: 47.875em) {
  .left {
    width: 100%; }
  .left-inner {
    position: relative; } }

@media screen and (max-width: 40em) {
  h1 {
    font-size: 4rem; }
  .left {
    width: 100%; }
  .left-inner {
    position: relative; }
    .left-inner h3 {
      font-size: 4.25rem;
      line-height: 5rem;
      margin: 0; }
  .social-inner {
    position: relative; }
  .social {
    margin: 8% 0; }
  .section-1 {
    margin-bottom: 15%;
    padding-top: 5%; }
  .callout h1 {
    font-size: 3rem; }
  .callout span {
    font-size: 1rem; }
  .exp-wrap {
    box-shadow: none;
    text-align: center; }
  .port-img-wrap {
    margin-left: 0; }
  .image {
    width: 100%;
    margin-left: 0; } }
