.hero {
  padding: 0; }

.pop {
  height: 4px;
  width: 15%;
  background-color: #F7D554;
  margin-left: -20px;
  margin-bottom: 8%;
  margin-top: 8%; }

.left {
  background: #f1f1f1;
  padding: 10%;
  margin: 0;
  color: #5D5D5D; }

.left-inner {
  position: fixed; }

.right-wrap {
  position: relative;
  padding: 10% 5%; }

.social {
  font-size: 1.5rem; }
  .social a {
    padding: 5px 10px;
    margin-right: 3px;
    color: #5D5D5D;
    border-radius: 2px; }
    .social a:hover {
      background: rgba(0, 0, 0, 0.075);
      color: #5D5D5D; }
  .social li {
    list-style: none;
    display: inline; }

.portfolio-item-wrap a h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0; }
  .portfolio-item-wrap a h2 span {
    font-size: 4rem;
    font-weight: 600;
    color: #F1F1F1;
    vertical-align: top; }

.portfolio-item-wrap {
  margin: 20px 0;
  transition: .2s all; }

.portfolio-item-wrap:hover {
  transform: translateY(-1em); }

.image {
  width: 110%;
  margin-bottom: 10%;
  margin-left: -20px; }
  .image img {
    width: 100%; }
  .image .caption {
    background: #F1F1F1;
    padding: 5px 10px;
    color: #909090;
    width: 80%;
    margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #5D5D5D;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400; }

h1 {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 5.5rem;
  margin: 0;
  font-weight: 600; }

h2, h3, h4, h5 {
  font-family: "freight-sans-pro", sans-serif;
  margin-top: 0;
  margin-bottom: 4%; }

h5 {
  letter-spacing: .125rem;
  font-size: 1.25rem; }

p {
  font-size: 1.25rem;
  line-height: 1.95rem; }

a {
  color: #0F82DE;
  text-decoration: none;
  transition: .2s all; }
  a:hover {
    color: #0c66ae; }

@media screen and (max-width: 40em) {
  h1 {
    font-size: 4rem; }
  .left {
    width: 100%; }
  .left-inner {
    position: relative;
    margin-bottom: 10%; }
  .image {
    width: 100%;
    margin-left: 0; } }

@media only screen and (max-width: 47.875em) {
  .left {
    width: 100%; }
  .left-inner {
    position: relative; } }

@media only screen and (max-width: 54.9375em) {
  .left {
    width: 100%; }
  .left-inner {
    position: relative; } }
