//fonts here:
// indicated by the prefix 'f-'
$f-Freight:"freight-sans-pro",sans-serif;
$f-Atrament:"atrament-web",sans-serif;
$f-Jubilat:"jubilat",sans-serif;
//colors here:
// indicated by the prefix 'c-'

$c-blueGray:#494864;
$c-lightBlueGray:#9593b2;
$c-light:#F1F1F1;
$c-blue:#0F82DE;
$c-pop:#F7D554;
$c-yellow:#FFFDBB;

@import "_hero.scss";
@import "_portfolio.scss";
@import "_core.scss";
@import "_queries.scss";
