.hero {
  padding: 10%; }

.pop {
  height: 4px;
  width: 15%;
  background-color: #65D45F;
  margin-left: -20px;
  margin-bottom: 8%;
  margin-top: 8%; }

.left-wrap {
  position: fixed; }

.right-wrap {
  position: relative; }

.social {
  font-size: 1.5rem; }
  .social a {
    padding: 5px 10px;
    margin-right: 3px; }
    .social a:hover {
      background: #efefef; }
  .social li {
    list-style: none;
    display: inline; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #495C71;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400; }

h1 {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 5rem;
  margin: 0;
  font-weight: 500; }

h2, h3, h4, h5 {
  font-family: "freight-sans-pro", sans-serif;
  margin-top: 0;
  margin-bottom: 4%; }

p {
  font-size: 1.25rem;
  line-height: 1.95rem; }

a {
  color: #0F82DE;
  text-decoration: none;
  transition: .2s all; }
  a:hover {
    color: #0c66ae; }

img {
  width: 110%;
  margin-bottom: 10%;
  margin-top: 7%;
  margin-left: -20px; }

@media screen and (max-width: 40em) {
  h1 {
    font-size: 4rem; }
  .hero {
    padding: 4%; }
  .left-wrap {
    position: relative;
    margin-bottom: 10%; }
  img {
    width: 100%;
    margin-left: 0; } }

@media only screen and (max-width: 47.875em) {
  .left-wrap {
    position: relative; } }

@media only screen and (max-width: 54.9375em) {
  .left-wrap {
    position: relative; } }
