.hero {
  padding: 0; }

.pop-wrap {
  margin-left: -20px; }

.pop {
  height: 7px;
  width: 7px;
  background-color: #0F82DE;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 20px;
  display: inline-block;
  margin-right: 5px; }

.left {
  margin: 0;
  color: #494864; }

.left-inner {
  position: fixed;
  background: #0F82DE;
  padding: 10% 3%;
  height: 100vh;
  width: inherit; }
  .left-inner h5 {
    margin-top: 0;
    line-height: 1.85rem;
    font-family: "jubilat", sans-serif;
    border-top: 2px solid;
    padding: 7% 0;
    margin: 5% 0;
    border-bottom: 2px solid; }
    .left-inner h5 span {
      float: left;
      color: #AFD1EC;
      font-size: 3rem;
      line-height: 3rem;
      padding: 0 10px;
      margin-right: 3%; }

.right-wrap {
  position: relative;
  padding: 5%; }

.social {
  font-size: 1.5rem;
  margin: 10% 0; }
  .social a {
    padding: 3px 8px;
    margin-right: 5px;
    color: #0F82DE;
    border-radius: 2px;
    background: #494864; }
    .social a:hover {
      background: #494864;
      color: #fff; }
    .social a:focus {
      outline: none; }
  .social li {
    list-style: none;
    display: inline; }

.section-1 {
  margin-bottom: 7%;
  border-top: 5px solid;
  padding: 1% 0; }

.callout h3 {
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1.15em;
  margin-bottom: 7%; }

.callout span {
  font-size: 1.25rem;
  font-weight: 500;
  color: #494864; }

.exp-item {
  padding: 0;
  margin: 0; }
  .exp-item p {
    align-content: center;
    font-size: 1.2rem;
    color: #494864; }

.exp-wrap {
  margin: 5% 0;
  padding: 3%;
  border: 2px solid #F1F1F1;
  align-items: center;
  justify-content: space-around; }

.exp-btn {
  text-align: right; }

.portfolio-item-wrap:hover .port-desc {
  opacity: 1; }

.portfolio-item-inner a h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0; }
  .portfolio-item-inner a h2 span {
    font-size: 4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.05);
    vertical-align: top; }

.portfolio-item-inner {
  transition: .2s all;
  border: 2px solid #F1F1F1;
  padding: 3% 5% 5% 5%;
  border-radius: 2px; }
  .portfolio-item-inner:hover {
    transform: translateY(-1em); }
  .portfolio-item-inner p {
    font-size: 1.2rem;
    color: #494864; }

.port-desc {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  padding: 5%;
  opacity: 0; }

.port-img-wrap {
  width: 100%;
  margin-bottom: 5%; }
  .port-img-wrap img {
    width: 100%; }
  .port-img-wrap .port-img-caption {
    background: #F1F1F1;
    padding: 5px 10px;
    color: #b1b1b1;
    width: 80%;
    margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::selection {
  background: #FFFDBB; }

body {
  color: #494864;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400; }

hr {
  border-top: 1px solid #F1F1F1; }

h1 {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 3rem;
  margin: 0;
  font-weight: 800;
  letter-spacing: .1rem; }

h2, h3, h4, h5 {
  font-family: "freight-sans-pro", sans-serif; }

h5 {
  letter-spacing: .125rem;
  font-size: 1.25rem; }

p {
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-bottom: 0; }

a {
  color: #0F82DE;
  text-decoration: none;
  transition: .2s all; }
  a:hover {
    color: #0c66ae; }

.hidden {
  display: none; }

button {
  -webkit-appearance: none;
  border: none;
  padding: 3% 5%;
  font-size: 1.25rem;
  background: none;
  border: 2px solid #0F82DE;
  color: #0F82DE;
  transition: .2s all;
  cursor: pointer; }
  button:hover {
    background: #0F82DE;
    color: white; }
  button:focus {
    outline: none; }

@media only screen and (max-width: 54.9375em) {
  h1 {
    font-size: 4rem; }
  .left {
    width: 100% !important; }
  .left-inner {
    position: relative;
    height: auto;
    padding: 5%; }
  .social {
    margin: 8% 0; }
  button {
    width: 100%;
    margin: 5% 0;
    padding: 7%; } }

@media only screen and (max-width: 47.875em) {
  .left {
    width: 100%; }
  .left-inner {
    position: relative; } }

@media screen and (max-width: 40em) {
  h1 {
    font-size: 4rem; }
  .left {
    width: 100%; }
  .left-inner {
    position: relative; }
  .social-inner {
    position: relative; }
  .social {
    margin: 8% 0; }
  .section-1 {
    margin-bottom: 15%; }
  .callout h3 {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.15em; }
  .callout span {
    font-size: 1rem; }
  .exp-wrap {
    box-shadow: none;
    border: 1px solid #F1F1F1;
    text-align: center; }
  .port-img-wrap {
    margin-left: 0; }
  .image {
    width: 100%;
    margin-left: 0; } }
